<!DOCTYPE html>
<html>
  <head>
    <title>Littlehood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script src="https://kit.fontawesome.com/fece07feff.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.login_image = "<%= image_url('login_image.png') %>"
    </script>
    <script type="text/javascript">
      window.signup_image = "<%= image_url('dollar-glass.gif') %>"
    </script>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
    </script>
    <script type="text/javascript">
      window.iphone = "<%= image_url('iphone.png') %>"
    </script>
    
  </head>

  <body>

    <%= yield %>
  </body>
</html>
